{% extends 'base.html' %}

{% block title %}
    Home - Glaze Daddy
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Glaze Combos</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for combo in list_combos %}
                            <tr>
                                <td>
                                    <a href="{% url 'list_combos' combo.id %}">{{ combo.name }}</a>
                                </td>
                                <td>{{ combo.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </main>
{% endblock content %}
